label {
  margin-bottom: 10px;
}

.input-container {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
button {
  padding: 10px;
  width: 45%;
}
button:hover {
  background-color: rgb(82, 197, 251);
}
form {
  width: 400px;
}
